<section class="section advantages-section">
  <div class="container advantages-container">
    <h2 class="visually-hidden">Advantages</h2>
    <ol class="list advantages-list">
      <li class="advantages-item">
        <span class="counter">01</span>
        <p class="advantages-text">
          Swimming and water sports: try your hand at water skiing
        </p>
      </li>
      <li class="advantages-item">
        <span class="counter">02</span>
        <p class="advantages-text">Fishing: try to catch your own dinner</p>
      </li>
      <li class="advantages-item">
        <span class="counter">03</span>
        <p class="advantages-text">
          Sightseeing tours: take a shore or island tour, enjoy the views and
          sunsets from the water
        </p>
      </li>
      <li class="advantages-item">
        <span class="counter">04</span>
        <p class="advantages-text">
          Rest and relaxation: read a book or listen to music while enjoying the
          outdoor atmosphere.
        </p>
      </li>
    </ol>
    <picture>
      <!-- <source
        srcset="
          ./img/advantages/advantages-desktop-b.jpg    1x,
          ./img/advantages/advantages-desktop-b@2x.jpg 2x
        "
        media="(min-width: 1440px)"
        type="image/webp"
      /> -->
      <source
        srcset="
          ./img/advantages/advantages-desktop-b.jpg    1x,
          ./img/advantages/advantages-desktop-b@2x.jpg 2x
        "
        media="(min-width: 1440px)"
      />
      <source
        srcset="
          ./img/advantages/advantages-desktop.jpg    1x,
          ./img/advantages/advantages-desktop@2x.jpg 2x
        "
        media="(min-width: 1280px)"
      />
      <source
        srcset="
          ./img/advantages/advantages-tablet.jpg    1x,
          ./img/advantages/advantages-tablet@2x.jpg 2x
        "
        media="(min-width: 768px)"
      />
      <source
        srcset="
          ./img/advantages/advantages-phone.jpg    1x,
          ./img/advantages/advantages-phone@2x.jpg 2x
        "
        media="(max-width: 767px)"
      />
      <img
        class="advantages-pic"
        src="./img/advantages/advantages-phone.jpg"
        alt="a big yacht"
      />
    </picture>
  </div>
</section>
