<div class="mobile-menu-container is-hidden" id="mobile-menu-container">
  <nav class="mobile-nav">
    <ul class="list page-nav-list">
      <li class="mobile-nav-item">
        <a class="link page-nav-link current" href="#about-us-section">about</a>
      </li>
      <li class="mobile-nav-item">
        <a class="link page-nav-link" href="#our-yachts-section">yachts</a>
      </li>
      <li class="mobile-nav-item">
        <a class="link page-nav-link" href="#reviews-section">reviews</a>
      </li>
    </ul>
  </nav>
  <ul class="list mobile-socials-list socials-list">
    <li class="header-socials-item">
      <a
        class="link mobile-socials-link"
        href="https://www.instagram.com/goitclub/"
        target="_blank"
      >
        <svg class="socials-svg" width="24" height="24">
          <use href="./img/icons.svg#icon-instagram"></use>
        </svg>
      </a>
    </li>
    <li class="header-socials-item">
      <a
        class="link mobile-socials-link"
        href="https://www.youtube.com/c/GoIT"
        target="_blank"
      >
        <svg class="socials-svg" width="24" height="24">
          <use href="./img/icons.svg#icon-youtube"></use>
        </svg>
      </a>
    </li>
    <li class="header-socials-item">
      <a
        class="link mobile-socials-link"
        href="https://www.facebook.com/goITclub/"
        target="_blank"
      >
        <svg class="socials-svg" width="24" height="24">
          <use href="./img/icons.svg#icon-facebook"></use>
        </svg>
      </a>
    </li>
  </ul>
</div>
