<section class="section container our-yachts-section" id="our-yachts-section">
  <h2 class="our-yachts-title">
    Choose your dream yacht and sail away into the sunset
  </h2>

  <ul class="our-yachts-list list">
    <!-- Foto Arrow -->
    <li class="our-yachts-item">
      <picture>
        <source
          srcset="
            ./img/our-yachts/Desktop_1440/arrow-yaht-desktop_1440.jpg    1x,
            ./img/our-yachts/Desktop_1440/arrow-yaht-desktop_1440@2x.jpg 2x
          "
          media="(min-width: 1440px)"
        />
        <source
          srcset="
            ./img/our-yachts/Desktop_1280/arrow-yaht-desktop_1280.jpg    1x,
            ./img/our-yachts/Desktop_1280/arrow-yaht-desktop_1280@2x.jpg 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./img/our-yachts/Tablet/arrow-yaht-tablet.jpg    1x,
            ./img/our-yachts/Tablet/arrow-yaht-tablet@2x.jpg 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./img/our-yachts/Mobile/arrow-yaht-mobile.jpg    1x,
            ./img/our-yachts/Mobile/arrow-yaht-mobile@2x.jpg 2x
          "
          media="(max-width: 767px)"
        />
        <img
          class="our-yachts-img"
          src="./img/our-yachts/Mobile/arrow-yaht-mobile.jpg"
          alt="Arrow Yaht"
        />
      </picture>

      <!-- Yacht-Characteristics Arrow -->
      <table class="our-yahts-characteristics-table">
        <tr class="our-yachts-row">
          <td class="our-yachts-name">Arrow</td>
          <td class="our-yachts-class">LUXURY YAHTS</td>
        </tr>
        <tr class="our-yachts-row">
          <td class="our-yachts-question">LENGTH</td>
          <td class="our-yachts-answer">48m(155ft)</td>
        </tr>
        <tr class="our-yachts-row">
          <td class="our-yachts-question">BUILDER</td>
          <td class="our-yachts-answer">Admiral</td>
        </tr>
        <tr class="our-yachts-row">
          <td class="our-yachts-question">BUILT</td>
          <td class="our-yachts-answer">2021</td>
        </tr>
        <tr class="our-yachts-row">
          <td class="our-yachts-question">GUESTS</td>
          <td class="our-yachts-answer">11 in 5 cabins</td>
        </tr>
        <tr class="our-yachts-row">
          <td class="our-yachts-question">PRICE</td>
          <td class="our-yachts-answer">€33,500,000</td>
        </tr>
      </table>
    </li>

    <!--Foto Benetti oasis 40v bo122 -->
    <li class="our-yachts-item yachts-two">
      <picture>
        <source
          srcset="
            ./img/our-yachts/Desktop_1440/benetti-yaht-desktop_1440.jpg    1x,
            ./img/our-yachts/Desktop_1440/benetti-yaht-desktop_1440@2x.jpg 2x
          "
          media="(min-width: 1440px)"
        />
        <source
          srcset="
            ./img/our-yachts/Desktop_1280/benetti-yaht-desktop_1280.jpg    1x,
            ./img/our-yachts/Desktop_1280/benetti-yaht-desktop_1280@2x.jpg 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./img/our-yachts/Tablet/benetti-yaht-tablet.jpg    1x,
            ./img/our-yachts/Tablet/benetti-yaht-tablet@2x.jpg 2x
          "
          media="(min-width: 768px)"
        />
        <img
          class="our-yachts-img"
          src="./img/our-yachts/Tablet/benetti-yaht-tablet.jpg"
          alt="benetti
          oasis 40v bo122 yacht"
        />
      </picture>

      <!-- Yacht Characteristics Benetti oasis 40v bo122-->
      <table class="our-yahts-characteristics-table">
        <tr class="our-yachts-row">
          <td class="our-yachts-name">
            BENETTI OASIS 40<span class="our-yachts-name-plus">M B</span>...
          </td>
          <td class="our-yachts-class">LUXURY YAHTS</td>
        </tr>
        <tr class="our-yachts-row">
          <td class="our-yachts-question">LENGTH</td>
          <td class="our-yachts-answer">41m (133ft)</td>
        </tr>
        <tr class="our-yachts-row">
          <td class="our-yachts-question">SHIPYARD</td>
          <td class="our-yachts-answer">Benetti</td>
        </tr>
        <tr class="our-yachts-row">
          <td class="our-yachts-question">BUILT</td>
          <td class="our-yachts-answer">2025</td>
        </tr>
        <tr class="our-yachts-row">
          <td class="our-yachts-question">GUESTS</td>
          <td class="our-yachts-answer">10 in 5 cabins</td>
        </tr>
        <tr class="our-yachts-row">
          <td class="our-yachts-question">PRICE</td>
          <td class="our-yachts-answer">€23,210,000</td>
        </tr>
      </table>
    </li>

    <!-- Foto Belle Anna -->
    <li class="our-yachts-item yachts-item yachts-three">
      <picture>
        <source
          srcset="
            ./img/our-yachts/Desktop_1440/belle-anna-yaht-desktop_1440.jpg    1x,
            ./img/our-yachts/Desktop_1440/belle-anna-yaht-desktop_1440@2x.jpg 2x
          "
          media="(min-width: 1440px)"
        />
        <source
          srcset="
            ./img/our-yachts/Desktop_1280/belle-anna-yaht-desktop_1280.jpg    1x,
            ./img/our-yachts/Desktop_1280/belle-anna-yaht-desktop_1280@2x.jpg 2x
          "
          media="(min-width: 1280px)"
        />
        <img
          class="our-yachts-img"
          src="./img/our-yachts/Desktop_1280/belle-anna-yaht-desktop_1280.jpg"
          alt="belle anna yacht"
        />
      </picture>

      <!-- Yacht Characteristics Belle Anna -->
      <table class="our-yahts-characteristics-table">
        <tr class="our-yachts-row">
          <td class="our-yachts-name">BELLE ANNA</td>
          <td class="our-yachts-class">LUXURY YAHTS</td>
        </tr>
        <tr class="our-yachts-row">
          <td class="our-yachts-question">LENGTH</td>
          <td class="our-yachts-answer">50m(155ft)</td>
        </tr>
        <tr class="our-yachts-row">
          <td class="our-yachts-question">SHIPYARD</td>
          <td class="our-yachts-answer">ISA</td>
        </tr>
        <tr class="our-yachts-row">
          <td class="our-yachts-question">BUILT</td>
          <td class="our-yachts-answer">2012</td>
        </tr>
        <tr class="our-yachts-row">
          <td class="our-yachts-question">GUESTS</td>
          <td class="our-yachts-answer">12 in 6 cabins</td>
        </tr>
        <tr class="our-yachts-row">
          <td class="our-yachts-question">PRICE</td>
          <td class="our-yachts-answer">€21,000,000</td>
        </tr>
      </table>
    </li>
  </ul>

  <!-- Rent-yacht -->
  <a class="our-yachts-rental-link link" href="#rent-yacht-section"
    >Yacht rental</a
  >
</section>
