<footer class="page-footer container">
  <div class="footer-container">
    <!-- Logo -->
    <div class="footer-logo-socials-container">
      <a class="link logo footer-logo" href="">yachtjet</a>
      <ul class="list mobile-socials-list socials-list">
        <li class="footer-social-item">
          <a
            class="link footer-socials-link"
            href="https://www.instagram.com/goitclub/"
            target="_blank"
          >
            <svg class="footer-social-icon" width="24" height="24">
              <use href="./img/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="footer-social-item">
          <a
            class="link footer-socials-link"
            href="https://www.youtube.com/c/GoIT"
            target="_blank"
          >
            <svg class="footer-social-icon" width="24" height="24">
              <use href="./img/icons.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
        <li class="footer-social-item">
          <a
            class="link footer-socials-link"
            href="https://www.facebook.com/goITclub/"
            target="_blank"
          >
            <svg class="footer-social-icon" width="24" height="24">
              <use href="./img/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <nav class="page-nav footer-nav">
      <ul class="list footer-nav-list">
        <li class="">
          <a
            class="link page-nav-link footer-nav-link current"
            href="#about-us-section"
            >about</a
          >
        </li>
        <li class="page-nav-item">
          <a
            class="link page-nav-link footer-nav-link"
            href="#our-yachts-section"
            >yachts</a
          >
        </li>
        <li class="page-nav-item">
          <a class="link page-nav-link footer-nav-link" href="#reviews-section"
            >reviews</a
          >
        </li>
      </ul>
    </nav>
    <p class="footer-text">
      No matter which yacht you choose, our experienced crew will ensure that
      your journey is smooth and enjoyable.
    </p>
    <div class="footer-bottom-privacy-container">
      <p class="footer-yacht-adv">2023. Yacht Adventures</p>
      <a class="link footer-privacy-policy-link" href="">Privacy Policy</a>
    </div>
  </div>
</footer>
