<header class="page-header container">
  <div class="page-header-container">
    <a href="" class="link logo">yachtjet</a>
    <nav class="page-nav">
      <ul class="list page-nav-list">
        <li class="page-nav-item">
          <a class="link page-nav-link current" href="#about-us-section"
            >about</a
          >
        </li>
        <li class="page-nav-item">
          <a class="link page-nav-link" href="#our-yachts-section">yachts</a>
        </li>
        <li class="page-nav-item">
          <a class="link page-nav-link" href="#reviews-section">reviews</a>
        </li>
      </ul>
    </nav>
    <ul class="list socials-list header-socials-list">
      <li class="header-socials-item">
        <a
          class="link header-socials-link"
          href="https://www.instagram.com/goitclub/"
          target="_blank"
        >
          <svg class="socials-svg" width="24" height="24">
            <use href="./img/icons.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="header-socials-item">
        <a
          class="link header-socials-link"
          href="https://www.youtube.com/c/GoIT"
          target="_blank"
        >
          <svg class="socials-svg" width="24" height="24">
            <use href="./img/icons.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
      <li class="header-socials-item">
        <a
          class="link header-socials-link"
          href="https://www.facebook.com/goITclub/"
          target="_blank"
        >
          <svg class="socials-svg" width="24" height="24">
            <use href="./img/icons.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
    </ul>
    <button
      type="button"
      class="toggle-mobile-menu-btn"
      id="toggle-mobile-menu-btn"
    >
      <svg class="open-mobile-menu-svg" width="28" height="28">
        <use
          class="toggle-mobile-menu-svg"
          id="open-menu-svg"
          href="./img/icons.svg#icon-open-mobile-menu"
        ></use>
        <use
          class="toggle-mobile-menu-svg is-hidden"
          id="close-menu-svg"
          href="./img/icons.svg#icon-close-mobile-menu"
        ></use>
      </svg>
    </button>
  </div>
</header>
