<section class="section rent-yacht-section" id="rent-yacht-section">
  <div class="container">
    <div class="section-rent-yacht-additional-container">
      <div class="section-rent-yacht-container">
        <h2 class="section-rent-yacht-title">Rent a yacht now</h2>

        <form class="section-rent-yacht-form-and-button">
          <div class="section-rent-yacht-form">
            <input
              class="section-rent-yacht-input"
              type="text"
              name="user-name"
              pattern="/^\s*[a-z0-9-а-яё]+(?:\s+[a-z0-9-а-яё]+){1,2}\s*$/i"
              required
              placeholder="Full Name"
            />
          </div>
          <div class="section-rent-yacht-form">
            <input
              class="section-rent-yacht-input"
              type="email"
              name="user-email"
              pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})"
              required
              placeholder="Email"
            />
          </div>
          <div class="section-rent-yacht-form">
            <input
              class="section-rent-yacht-input"
              type="tel"
              name="user-phone-number"
              pattern="\+?[0-9\s\-\(\)]+"
              required
              placeholder="Phone number"
            />
          </div>
          <div class="section-rent-yacht-form-comment">
            <textarea
              class="section-rent-yacht-form-comment-textarea"
              name="user-comment"
              placeholder="Comment"
            ></textarea>
          </div>
          <button class="section-rent-yacht-button" type="submit">Send</button>
        </form>
      </div>

      <picture>
        <source
          srcset="
            ./img/rent-yacht/rent-yacht-desktop-1440.jpg    1x,
            ./img/rent-yacht/rent-yacht-desktop-1440@2x.jpg 2x
          "
          media="(min-width: 1440px)"
        />
        <source
          srcset="
            ./img/rent-yacht/rent-yacht-desktop.jpg    1x,
            ./img/rent-yacht/rent-yacht-desktop@2x.jpg 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./img/rent-yacht/rent-yacht-tablet.jpg    1x,
            ./img/rent-yacht/rent-yacht-tablet@2x.jpg 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./img/rent-yacht/rent-yacht-mobile.jpg    1x,
            ./img/rent-yacht/rent-yacht-mobile@2x.jpg 2x
          "
          media="(max-width: 767px)"
        />
        <img
          class="section-rent-yacht-image"
          src="./img/rent-yacht/rent-yacht-mobile.jpg"
          alt="yacht"
        />
      </picture>
      <!-- </div> -->
    </div>
  </div>
</section>
